
.game-circle {
	background-image: url("../images/black-circle.png");
	background-size: cover;
	display: inline-block;
	height: 250px;
	width: 250px;
}

.game-board {
	text-align: center;
}

.meter {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: white;
}

.meter-name-p1, .meter-name-p2, .p1, .p2 {
	font-family: 'Frijole', cursive;
	font-size: 80px;
	color: red;
}

.meter-round, .meter-score {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: white;
}

.round-number, .time-left-p1, .time-left-p2, .score-p1, .rounds-won-p1, .score-p2, .rounds-won-p2 {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: red;
}

.players-modules {
	display: table;
	width: 100%;
	margin-bottom: 200px;
	margin-top: 0px;
}
.game-background {
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}

header.masthead {
  margin-bottom: 0px;
  background: no-repeat center center;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

}	

@media only screen and (min-width: 768px) {
  header.masthead {		
    padding: 250px 0;
  }
}	

.left-player-one {
	width: 50%;
	position: absolute;
	left: 0px;
	text-align: left;
}

.right-player-two {
	width: 50%;
	position: absolute;
	right: 0px;
	text-align: right;
}
button.begin, .next-player, .next-round, .refresh {
	font-family: 'Boogaloo', cursive;
	font-size: 40px;
	background-color: blue;
	border-radius: 20px;
	border: 2px solid black;
	text-align: center;
	color: white;
	position: relative;
	margin: 50px 0;
}

.button-row {
	text-align: center;
}

.trump {
	background-image: url("../images/trump1.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	width: 250px;

}
 body {
 	text-align: center;
 	cursor: url(../images/glove.png), auto;	

 }

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: red;
}

.winner {
	font-family: 'Frijole', cursive;
	font-size: 80px;
	color: blue;
	padding: 50px;

}

.birds {
	padding-bottom: 0px;
}

.dizzyTrump {
	padding-top: : -100px;
}